package-lock.json
build
dist
node_modules
coverage
__test__
.husky
.gitignore
.gitkeep
.prettierignore
.eslintignore
.dockerignore
.env*
docker/*
**/.git
**/.svn
**/.hg
# Ignore all files that begin with a dot beacause they are partials files with opening or closing tags
**/_*.html
**/_*.hbs
**/_*.twig
**/_*.php