version: '3.8'
services:
    patternlab:
        build:
            context: ./
            dockerfile: ./docker/patternlab/Dockerfile
        image: talampaya-patternlab:latest
        container_name: ${APP_NAME}-patternlab
        working_dir: /app/patternlab
        ports:
            - '${PATTERNLAB_PORT:-4000}:${PATTERNLAB_PORT:-4000}'
            - '${PATTERNLAB_BROWSERSYNC_PORT:-4001}:${PATTERNLAB_BROWSERSYNC_PORT:-4001}'
            - '${PATTERNLAB_BROWSERSYNC_UI_PORT:-4002}:${PATTERNLAB_BROWSERSYNC_UI_PORT:-4002}'
        environment:
            SYNC_PORT: ${PATTERNLAB_BROWSERSYNC_PORT:-4001}
            UI_PORT: ${PATTERNLAB_BROWSERSYNC_UI_PORT:-4002}
        volumes:
            - './patternlab:/app/patternlab'
        command: /bin/sh -c "composer install && npm install && npm run start"
