{% extends "@templates/layouts/page-2col.twig" %}
{% block main %}
	<article class="article">
		<header class="article-header">
			<h1>{{ title }}</h1>
			{% include "@molecules/text/byline.twig" %}
		</header>
		{% if featured_image %}
			{% include "@atoms/images/image.twig" with {
				img: {
					src: featured_image.src,
					alt: featured_image.alt|default(title),
					width: featured_image.width|default("1200"),
					height: featured_image.height|default("800")
				}
			} %}
		{% endif %}
		{% if content %}
			{{ content }}
		{% endif %}

		{% if content is not defined %}
			{% include "@organisms/article/article-body.twig" %}
		{% endif %}
	</article>
	<!-- end .article -->
	{% include "@molecules/components/social-share.twig" %}
	{% include "@organisms/comments/comment-thread.twig" %}
{% endblock main %}

{% block sidebar %}
	{% if (related_posts.posts|length) > 0 %}
		{% include "@organisms/sections/related-posts.twig" %}
	{% endif %}
	{% include "@organisms/sections/recent-tweets.twig" %}
{% endblock sidebar %}
