{% extends "@templates/layouts/page-2col.twig" %}
{% block main %}
	<article class="article">
		<header class="article-header">
			<h1>{{ title }}</h1>
			{% include "@molecules/text/byline.twig" %}
		</header>
		{% if content %}
			{{ content }}
		{% endif %}

		{% if content is not defined %}
			{% include "@organisms/article/article-body.twig" %}
		{% endif %}
	</article>
	<!-- end .article -->
	{% include "@molecules/components/social-share.twig" %}
	{% include "@organisms/comments/comment-thread.twig" %}
{% endblock main %}

{% block sidebar %}
	{% include "@organisms/sections/related-posts.twig" %}
	{% include "@organisms/sections/recent-tweets.twig" %}
{% endblock sidebar %}
