{% extends "@templates/layouts/page-2col.twig" %}
{% block title %}
	<h1 class="section-title">{{ title|default("Our Outdoor Blog") }}</h1>
{% endblock title %}

{% block main %}
	{% include "@organisms/sections/latest-posts.twig" with posts %}
	{% include "@molecules/navigation/pagination.twig" %}
{% endblock main %}

{% block sidebar %}
	{% include "@organisms/sections/recent-tweets.twig" %}
{% endblock sidebar %}
