<a href="{{ link.homepage|default(link["pages-homepage"]) }}">
	{% include "@atoms/images/image.twig" with {
		img: { src: "../../images/logo.png", alt: "Logo Alt Text", width: "350", height: "350" }
	} %}
</a>
