{# see `pages/archive.twig` for an alternative strategy of extending templates #}
{% extends "@layouts/base.twig" %}

{% block content %}
	<div class="content-wrapper">
		{% for post in posts %}
			{% include ["@blocks/tease-" ~ post.type ~ ".twig", "@blocks/tease.twig"] %}
		{% endfor %}

		{% include "@components/pagination.twig" with {
			pagination: posts.pagination({ show_all: false, mid_size: 3, end_size: 2 })
		} %}
	</div>
{% endblock content %}
