<div class="block block-thumb">
	<a href="{{ post.url }}" class="b-inner">
		<div class="b-thumb">
			{% include "@atoms/images/image.twig" with { img: post.img } %}
		</div>
		<div class="b-text">
			<h2 class="b-title">{{ post.title }}</h2>
			<p>
				{{ post.excerpt }}
			</p>
		</div>
	</a>
</div>
