<div class="block block-thumb">
	<a href="{{ url }}" class="b-inner">
		<div class="b-thumb">
			{% if img|first.src %}
				{% include "@atoms/images/image.twig" with {
					img: { src: img|first.src, alt: headline.short }
				} %}
			{% else %}
				{% include "@atoms/images/square.twig" %}
			{% endif %}
		</div>
		<div class="b-text">
			<h2 class="b-title">{{ headline.short }}</h2>
			<p>
				{{ excerpt.medium }}
			</p>
		</div>
	</a>
</div>
