{% extends "@templates/layouts/site.twig" %}
{% block main_content %}
	<div class="l-one-col">
		<div class="l-main">
			{% block main %}
				<p>
					Content Placeholder
				</p>
			{% endblock main %}
		</div>
	</div>
{% endblock main_content %}
