<section class="comments section">
	<div class="comments-container" id="comments-container">
		<h2 class="section-title">{{ comments is not empty ? comments|length : "5" }} Comments</h2>
		{% include "@molecules/forms/comment-form.twig" %}
		<ul class="comment-list">
			{% if comments is not empty %}
				{% for comment in comments %}
					{% include "@molecules/components/single-comment.twig" with {
						comment: comment
					} %}
				{% endfor %}
			{% endif %}

			{% if comments is empty %}
				{% for item in 1..5 %}
					{% include "@molecules/components/single-comment.twig" %}
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	{# {% include "@molecules/navigation/pagination.twig" %} #}
</section>
