<section class="section related-posts">
	<h3 class="section-title">{{ related_posts.title|default("Related Posts") }}</h3>
	<ul class="headline-list">
		{% for related in related_posts.posts %}
			<li><h4><a href="{{ related.url }}">{{ related.title }}</a></h4></li>
		{% endfor %}
	</ul>
</section>
